html, body {
    overflow-x: hidden;
}

/* Themes */
body.dark {
    background-image: url("./images/dark_wallpaper.jpg");
    color: #FFFFFF;
}

body.light {
    background-image: url("./images/light_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000000;
}

/* Logo */
#logo {
    display: block;
    flex: center;
    margin: auto;
}

/* Theme button */
#theme-name {
    font-family: "Arial Black";
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

#theme-btn {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Introduction */
#intro {
    display: block;
    flex: center;
    font-family: "Arial";
    font-size: 1.25em;
    padding: 2.5% 10%;
    text-align: left;
}

/* Div for displaying original and filtered image */
#full-box {
    display: inline-block;
    padding: 2.5% 2.5%;
    height: auto;
}

/* Container to hold a <p> tag header, a file upload or loading bar, and an image */
.display-box {
    background: #D3D3D3;
    color: #000000;
    float: left;
    height: auto;
    width: 45%;
}

.display-box p {
    color: #191970;
    font-family: "Impact";
    font-size: 1.5em;
    margin: 1% auto;
    text-align: center;
}

#file-upload, #loading.show, #socials.show {
    display: inline-block;
    margin: 1% 2%;
    outline: none;
    height: 22px;
    width: 100%;
}

#loading.hide, #socials.hide {
    display: none;
}

#loading img {
    margin-left: 5%;
    height: 50%;
    width: 70%;
}

#old-img.default {
    border: none;
}

#old-img.not-default, #new-img {
    border: 1px solid #000000;
}

.display-img {
    display: inline-block;
    margin: 1% 0;
    height: 90%;
    width: 90%;
}

.display-img img {
    margin: 3% 6%;
    user-select: none;
    height: 100%;
    width: 100%;
}

/* Styling for drag-and-drop box */
#drop-area {
    margin: 0 5%;
    width: 100%;
}

#drop-area.show {
    border-radius: 20px;
    border: 2px dashed #191970;
}

#drop-area.highlight {
    background: #FFCF40;
    border-color: #191970;
}

#drop-area.hide {
    border: none;
}

#drop-area img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

/* Div containing filter buttons */
#filter-btns {
    float: left;
    margin-top: 20%;
    width: 10%;
}

#filter-btns div {
    margin-top: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

/* Styling for buttons */
button {
    background: #191970;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px #696969;
    color: #FFCF40;
    cursor: pointer;
    font-family: "Times New Roman";
    font-size: 1em;
    margin-bottom: 15%;
    outline: none;
    padding: 10px 5px;
    width: 90%;
}

/* Styling for when buttons are clicked */
button:active {
    box-shadow: 5px 5px #696969;
    transform: translateY(5px);
}

button:active, button:hover {
    background: #FFCF40;
    color: #191970;
}

/* Styling for switches */
.switch {
    display: inline-block;
    position: relative;
    height: 34px;
    width: 60px;
}

.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
    background-color: #CCCCCC;
    border-radius: 34px;
    cursor: pointer;
    position: absolute;
    transition: .4s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Styling for when switches are clicked */
.slider:before {
    background-color: #FFFFFF;
    border-radius: 50%;
    bottom: 4px;
    content: "";
    left: 4px;
    position: absolute;
    transition: .4s;
    height: 26px;
    width: 26px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
