html, body {
    min-width: 600px;
}

img {
    pointer-events: none;
}

#logo {
    font-family: 'Lobster';
}

/* Section for uploading image */
#upload-section {
    padding-top: 10px;
    text-align: center;
}

#file-upload {
    margin-bottom: 20px;
    outline: none;
}

/* Section for displaying original and filtered image,
   as well as the filter drop-down menu and button */
#filter-section {
    background: #4682B4;
    padding: 2.5% 2.5% 0 2.5%;
    text-align: center;
    height: auto;
    width: 100%;
}

.display-box {
    background: #FFFFFF;
    float: left;
    height: 100%;
    width: 45%;
}

.display-box p {
    color: #191970;
    font-family: "Impact";
    font-size: 1.5em;
    margin: 1% auto;
    text-align: center;
}

#old-img.not-default, #new-img.not-default {
    border: 1px solid #000000;
    pointer-events: auto;
}

.display-img {
    margin: 2.5% auto;
    height: 90%;
    width: 95%;
}

.display-img img {
    margin: 2.5% none;
    user-select: none;
    height: 100%;
    width: 100%;
}

/* Styling for drag-and-drop area */
#drop-area.highlight {
    background: #000000;
}

#drop-area.highlight img {
    opacity: 0;
}

#drop-area img, #align-area img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for filter drop-down menu and button */
#filter-box {
    display: inline-block;
    margin-top: 20px;
}

#filter-select {
    background: #B0C4DE;
    color: #000000;
}

#filter-btn {
    background: #FFFF00;
    color: #000000;
}

#filter-btn:active, #filter-btn:hover {
    background: #FFD700;
}

/* Section for downloading and sharing filtered image */
#social-section {
    background: #C0C0C0;
    padding-bottom: 1px;
    padding-top: 10px;
    text-align: center;
}

#social-btns button {
    background: #3CB371;
    margin-bottom: 10px;
    height: auto;
}

#social-btns button:active, #social-btns button:hover {
    background: #2E8B57;
}
