<!DOCTYPE HTML>
<!--
     Snapshot by TEMPLATED
     templated.co @templatedco
     Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>FilterX</title>
    <link href="../static/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">

    <!-- Open Graph Markup -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="FilterX">
    <meta property="og:url" content="https://filterx.herokuapp.com/">
    <meta property="og:description" content="Filter, download, and share your images!">
    <meta property="og:image" content="https://res.cloudinary.com/filterx/image/upload/v1542348499/filterx_snapshot.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- IMPORTANT: CHANGE THE VERSION NUMBER AFTER MAKING CHANGES TO THE RESPECTIVE CSS OR JS -->
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
    <link type="text/css" rel="stylesheet" href="../static/css/my-styles.css?version=2.8">
    <script type="text/javascript" src="../static/js/logic.js?version=2.8"></script>
    <script type="text/javascript" src="../static/js/socials.js?version=1.2" ></script>
    <script type="text/javascript" src="../static/js/download.js?version=1.0"></script>
  </head>

  <body>
    <div class="page-wrap">
      <!-- Open .page-wrap -->

      <nav id="nav">
        <ul>
          <li><a href="index.html" class="active"><span class="icon fa-home"></span></a></li>
          <li><a href="#full-box-section"><span class="icon fa-camera-retro"></span></a></li>
          <li><a href="#contact"><span class="icon fa-file-text-o"></span></a></li>
        </ul>
      </nav>

      <section id="main">
        <!-- Open #main -->

        <section id="banner">
          <div class="inner">
            <h1>FilterX</h1>
            <p>Filter, download, and share your images!</p>
            <ul class="actions">
              <li><a href="#upload-section" class="button alt scrolly big">Continue</a></li>
            </ul>
          </div>
        </section>

        <section id="upload-section">
          <h1 id="upload-text">Upload</h1>
          <div id="upload-options">
            <input id="file-upload" type="file" accept="image/*" onchange="upload(this);">
            <p>or upload by remote image URL:</p>

            <div id="url-upload">
              <input id="url-input" type="url" size="40" maxlength="2000" placeholder="http://www.example.com">
              <button id="url-submit" type="button" onclick="url_upload(document.getElementById('url-input').value);">Submit</button>
            </div>
          </div>
        </section>

        <section id="full-box-section">
          <div id="full-box">
            <div class="display-box" style="margin-right: 5%;">
              <p>Before</p>
              <div class="display-img">
                <div id="drop-area"><img id="old-img" class="default" src="../static/images/drag_and_drop.jpg" alt="Old image goes here."></div>
              </div>
            </div>

            <div class="display-box" style="margin-left: 5%;">
              <p>After</p>
              <div class="display-img">
                <div id="align-area"><img id="new-img" class="default" src="../static/images/placeholder.jpg" alt="New image goes here."></div>
              </div>
            </div>
          </div>
        </section>

        <section id="contact">
          <div class="social column">
            <h3>About Us</h3>
            <p>This website was developed by Captain Hasan and his fellow comrades: Chuck, Harneet, and Mohamed.</p>
            <p>If you have any questions or concerns, contact us at <a href="mailto:filterx.website@gmail.com">filterx.website@gmail.com</a></p>
            <h3>Share This Website</h3>
            <ul class="icons">
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-envelope"><span class="label">E-mail</span></a></li>
            </ul>
          </div>

          <div class="column">
            <h3>Get in Touch</h3>
            <form action="#" method="post">
              <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
              </div>
              <ul class="actions">
                <li><input value="Send Message" class="button" type="submit"></li>
              </ul>
            </form>
          </div>
        </section>

        <footer id="footer">
          <div class="copyright">
            &copy; 2018 FilterX, Inc. Template by <a href="https://templated.co/" target="_blank">TEMPLATED</a>.
          </div>
        </footer>

        <!-- Close #main -->
      </section>

      <!-- Close .page-wrap -->
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.poptrox.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>

  </body>
</html>
