<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FilterX</title>
    <link href="{{ url_for('static', filename='./favicon.ico') }}" type="image/x-icon" rel="shortcut icon">
    <link href="{{ url_for('static', filename='./style.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static', filename='./logic.js') }}" type="text/javascript"></script>
    <link href="../static/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    <script src="../static/logic.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <img id="logo" src="../static/logo.png" alt="FilterX Logo">
    </header>
    <div id="intro">
      This website allows you to apply a filter to an image of your choice. Using this website is simple:
      <ol id="instructions">
        <li>Click 'Choose File' and select an image file of your choice.</li>
        <li>Click one of the 3 filter buttons to apply that filter to your image.</li>
        <li>That's it! Now you can download the filtered image or try another filter.</li>
      </ol>
    </div>
    <form action="index" method="post">
      <div class="display-box">
        <input type="file" onchange="upload(this);">
        <div class="display-img">
          <img id="old-img" src="../static/placeholder.png" alt="Old image goes here.">
        </div>
      </div>
      <div id="filter-btns">
        <div><button type="button" onclick="filter('black_and_white');">Black and White</button></div>
        <div><button type="button" onclick="filter('sepia');">Sepia</button></div>
        <div><button type="button" onclick="filter('casper');">Casper</button></div>
      </div>
      <div class="display-box">
        <a href="../tmp/foo.jpg" download><button type="button">Download</button></a>
        <div class="display-img">
          <img id="new-img" src="../static/placeholder.png" alt="New image goes here.">
        </div>
      </div>
    </form>
  </body>
</html>
